a{
    color:#EA0599;
    font-size:40
    font-family: 'Comfortaa', cursive;
}
body{
	background-color:#000000;
}
h1{
	font-family: 'Comfortaa', cursive;
	color:#EA0599;
}
h5{
	color:#EA0599;
	font-family: 'Comfortaa', cursive;
}
h9{
	color:#5CFFAE;
	font-size:16px
	font-family: 'Comfortaa', cursive;
}
h3{
	color:#EA0599;
	font-family: 'Comfortaa', cursive;
}
footer {
	padding: 40px 20px;
	background: #9A0F98;
	color:#FFFFFF;
	front-size:50;
	font-family: 'Comfortaa', cursive;
}
h2{
	font-family: 'Comfortaa', cursive;
	color:#EA0599;
}
h8{
	color:#EA0599;
	font-family: 'Comfortaa', cursive;
}
ul{
	color:#EA0599;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
}
